@import './bootstrap_variables';
@import 'bootstrap';
@import './dashboard';
@import './sidebar';


body {
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

h2 {
  font-size: 2.0rem;
  margin-top: 2.0rem;
}
