#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0;
  width: 20vw;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#page-content-wrapper {
  width: 80vw;
}
